.tree {
    padding: 10px;
}

.node {
    margin-bottom: 2px; 
    line-height: 1.3;
}

.clickable { 
    cursor: pointer; 
    padding: 4px 6px; 
    border-radius: 6px; 
    transition: background 0.2s;
}

.clickable:hover { 
    background: #B7A087; 
}

.title { 
    font-weight: 500; 
    font-size: 14px;
}
